.about-us
    img(src="../static/img/about-us.jpg", alt="about-us.jpg", srcset="")
    .about-us_content
        span.about-us_title ABOUT US
        span.about-us_subtitle
            span.about-us_subtitle__border SOME
            span  WORDS
            span.about-us_subtitle__bold  ABOUT US
        p.about-us_text We love building and rebuilding brands through our  specific skills. Using colour, fonts, and illustration, we brand companies in a way they will never forget.
        ul.about-us_list
            li.about-us_item
                span.about-us_item__title Mission - 
                span.about-us_item__subtitle We deliver uniqueness and quality
            li.about-us_item
                span.about-us_item__title Skills - 
                span.about-us_item__subtitle Delivering fast and excellent results
            li.about-us_item
                span.about-us_item__title Clients - 
                span.about-us_item__subtitle Satisfied clients thanks to our experience
        a.about-us_link(href="")
            img(src="../static/img/about-us-btn-icon.jpg", alt="", srcset="")
            span BROWSE OUR WORK
