.contact
    .title
        span.title__txt FEEL FREE TO  
            span.title__txt-bold CONTACT US 
        img.title__line(src="../static/img/2_line_title.jpg", alt="2_line")
        img.title__line(src="../static/img/1_line_title.jpg", alt="1_line")
    p.contact__txt Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. 
    .contact-content
        .contact-content-block--50
            span Name*
            input(type="text")
        .contact-content-block--50
            span Email adress*
            input(type="text")
        .contact-content-block--100
            span Message*
            input(type="text")
        button SEND
            

            