footer.footer
    span ALL RIGHTS RESERVED. COPYRIGHT © 2014 SPIRIT8
    .block-icon
        img(src="../static/img/facebook.png", alt="fb", srcset="")
        img(src="../static/img/twitter.png", alt="tw", srcset="")
        img(src="../static/img/google-plus.png", alt="go", srcset="")
        img(src="../static/img/linkedin.png", alt="in", srcset="")
        img(src="../static/img/soundcloud.png", alt="sp", srcset="")