header(id="home" class="header")
    h1 SPIRIT8
    .header_nav
        a.header_nav__btn(href="") HOME
        a.header_nav__btn(href="#about") ABOUT
        a.header_nav__btn(href="#services") SERVICES
        a.header_nav__btn(href="#portfolio") PORTFOLIO
        a.header_nav__btn(href="#contact") CONTACT