header.header
    h1 SPIRIT8
    .header_nav
        a.header_nav__btn(href="") HOME
        a.header_nav__btn(href="") ABOUT
        a.header_nav__btn(href="") SERVICES
        a.header_nav__btn(href="") PORTFOLIO
        a.header_nav__btn(href="") TESTIMONIALS
        a.header_nav__btn(href="") CONTACT