.home
    span.home_title WELCOME ON 
        span.home_title__color SPIRIT8
    span.home_subtitle We are a digital agency with 
        span.home_subtitle__color years of experience 
        span.home_subtitle and with 
        span.home_subtitle__color extraordinary people
