<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../style/style.css")
        title Spirit8
    body
        .wrap
            //- block header
            //-     include header
            //- block home
            //-     include home
            //- block about-us
            //-     include about-us
            //- block  meet-our-team
            //-     include meet-our-team
            //- block  services
            //-     include services
            block work
                include work

            
