-var txt="Do not seek to change what has come before. Seek to create that which has not.";

.meet-our-team
    span.mot__title MEET 
        span.mot__title-bold 
            span.mot__title-border OUR 
            span TEAM
    .mot-content
        .content-block
            img.bloc__img(src="../static/img/jason-statham.jpg", alt="Jason Statham")
            span.block__name Jason Statham
            span.block__comit Knife designer
            p.block__txt #{txt}
        .content-block
            img.bloc__img(src="../static/img/Van-Damme.jpg", alt="Van Damme")
            span.block__name Van Damme
            span.block__comit No English
            p.block__txt #{txt}
        .content-block
            img.bloc__img(src="../static/img/Sylvester-Stallone.jpg", alt="Sylvester Stallone")
            span.block__name Sylvester Stallone
            span.block__comit Cigar Lover
            p.block__txt #{txt}
        .content-block
            img.bloc__img(src="../static/img/Jet-Li.jpg", alt="Jet Li")
            span.block__name Jet Li
            span.block__comit A need more money
            p.block__txt #{txt}



