-var txt ="The first line of Lorem Ipsum, \"Lorem ipsum dolor sit amet..\", comes from a line in section 1.10.32.";

.services(id="services")
    .title
        span.title__txt TAKE A LOOK AT 
            span.title__txt-bold OUR SERVICES
        img.title__line(src="../static/img/2_line_title.jpg", alt="2_line")
        img.title__line(src="../static/img/1_line_title.jpg", alt="1_line")
    p.services__txt Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
    .services-content
        .content-block
            .block-img
                img.block-img__icon(src="../static/img/computer.jpg", alt="computer.jpg")
            span.block__name Web design
            p.block__txt #{txt}
        .content-block
            .block-img
                img.block-img__icon(src="../static/img/mobile.jpg", alt="mobile.jpg")
            span.block__name Mobile apps
            p.block__txt #{txt}
        .content-block
            .block-img
                img.block-img__icon(src="../static/img/fotograph.jpg", alt="fotograph.jpg")
            span.block__name PHOTOGRAPHY
            p.block__txt #{txt}
        .content-block
            .block-img
                img.block-img__icon(src="../static/img/megafon.jpg", alt="megafon.jpg")
            span.block__name marketing
            p.block__txt #{txt}


        

