.work(id="portfolio")
    .title
        span.title__txt TAKE A LOOK AT 
            span.title__txt-bold OUR WORK 
        img.title__line(src="../static/img/2_line_title.jpg", alt="2_line")
        img.title__line(src="../static/img/1_line_title.jpg", alt="1_line")
    p.work__txt Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
    .work-content
        .work-photo
            .work-content-block.block__active_ph
                img(src="../static/img/work-1.jpg", alt="work-1", srcset="")
            .work-content-block
                img(src="../static/img/work-1.jpg", alt="work-1", srcset="")
            .work-content-block
                img( src="../static/img/work-1.jpg", alt="work-1", srcset="")
            .work-content-block
                img(src="../static/img/work-1.jpg", alt="work-1", srcset="")
            .work-content-block
                img(src="../static/img/work-1.jpg", alt="work-1", srcset="")
            .work-content-block
                img(src="../static/img/work-1.jpg", alt="work-1", srcset="")
            .work-content-block
                img(src="../static/img/work-1.jpg", alt="work-1", srcset="")
            .work-content-block
                img(src="../static/img/work-1.jpg", alt="work-1", srcset="")
            .work-content-block
                img(src="../static/img/work-1.jpg", alt="work-1", srcset="")
            .work-content-block
                img(src="../static/img/work-1.jpg", alt="work-1", srcset="")
            .work-content-block
                img(src="../static/img/work-1.jpg", alt="work-1", srcset="")
            .work-content-block
                img(src="../static/img/work-1.jpg", alt="work-1", srcset="")
        .arrow
            button#left.arrow__btn &laquo
            button#right.arrow__btn &raquo

            
          
          
        

            
